.errorDiv {
    height: 10em;
    position: relative;
    color: black;   
    font-weight: 900;    
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.errorLink {
    color: #111d13; 
}