.userPage { padding: 75px 600px 0px 600px; }
#signIn { padding-bottom: 315px; }
#reg { padding-bottom: 114px;}

.userForm {
    text-align: center;
    padding: 0px 125px 0px 125px;
}

.userForm .formInput {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px
}

.userPage .btn {
    display: inline-block;
    padding: 12px 60px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    color: rgb(71, 71, 71);
    background-color: var(--site-color);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.userPage a {
    margin-top: 10px;
}

.userForm .icon {
    cursor: pointer;
    position: absolute;
    width: 25px;
    right: 442px;
}

.userForm .reg1 {
    top: 494px;
}

.userForm .reg2 {
    top: 560px;
}

.userForm .signIn {
    top: 360px;
}

.alert {
    margin: auto;
    width: 50%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
    padding: 12px 0px 12px 20px;
    text-align: center;
}

.userForm #menuOpen {
    visibility: hidden;
}

/* .success { background-color: lightgreen; } */
/* .error { background-color: lightcoral; } */

@media (min-width: 1200px) {
    .userPage { padding: 75px 335px 0px 445px; }
    .alert { width: 60%} ;
}

@media (max-width: 1199px) {
    .userPage { padding: 75px 105px 0px 185px; }
    .userForm .icon { right: 250px; }
    .userForm .reg2 { top: 562px; }
    /* .to-login { margin-left: 240px; } */
}

@media (max-width: 1000px) {
    .userPage { padding: 75px 105px 0px 185px; } 
    /* .to-login { margin-left: 240px; } */
}

@media (max-width: 960px) {
    .userPage { padding: 75px 140px 0px 110px; }
    .alert { width: 60%} ;
    /* .to-login { margin-left: 210px; } */
    .userForm .icon { right: 248px; }
    .userForm .reg1 { top: 490px; }
    .userForm .reg2 { top: 558px; }
}

@media (max-width: 800px) {
    .userPage { padding: 75px 80px 0px 100px; }
    /* .to-login { margin-left: 210px; } */
    #signIn { padding-bottom: 377px; }
    #reg { padding-bottom: 176px;}
    .userForm .icon { right: 190px; }
    .userForm .reg1 { top: 430px; }
    .userForm .reg2 { top: 498px; }
    .userForm .signIn { top: 294px; }
}

@media (max-width: 720px) {
    .userForm { padding: 0px 50px 0px 50px; }
    .alert { width: 70%} ;
    /* .to-login { margin-left: 105px; } */
    .userForm .icon { right: 154px; }
}

@media (max-width: 700px) {
    .userForm .icon { right: 120px; }
}

@media (max-width: 550px) {
    .userPage { padding: 75px 50px 0px 60px; }
    .userForm .icon { right: 80px; }
}